.bodyIndex {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 15% 65% 20%;
	background-size: cover;
	background-color: rgb(0, 0, 0);
}
* {
	padding: 0;
	margin: 0;
}
.objectPanel {
	display: flex;
	justify-content: center;
	align-items: center;
}
.objectPanel img {
	width: 100%;
}
.menuPanel {
	display: flex;
	justify-content: center;
}
.menuButton img {
	width: auto;
	height: 97px;
}
.menuButton {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menuText {
	text-decoration: none;
	color: #e9e7e0;
	font-family: MyFont;
}
@font-face {
	font-family: MyFont;
	src: url(PressStart2P-Regular.ttf);
}
.topScorePanel {
	height: 60%;
}
.energy {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 30px;
}
.energy img {
	width: 70px;
	position: relative;
	left: 24px;
	z-index: 5;
}
#energyBox {
	width: 100px;
	height: 20px;
	border-radius: 4px;
	background-color: rgb(75, 84, 85);
	color: white;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
#energyFill {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	border-radius: 4px;
	background-color: rgb(100, 134, 134);
}
#energyText {
	z-index: 5;
	font-size: 16px;
	text-decoration: none;
	color: #e9e7e0;
	font-family: MyFont;
}
@font-face {
	font-family: MyFont;
	src: url(PressStart2P-Regular.ttf);
}
.centreScorePanel {
	height: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.centreScorePanel img {
	width: 40px;
	margin-right: 5px;
	margin-bottom: 10px;
}
#score {
	text-decoration: none;
	color: #e9e7e0;
	font-family: MyFont;
	font-size: 20px;
	font-weight: 500;
}
@font-face {
	font-family: MyFont;
	src: url(PressStart2P-Regular.ttf);
}
.bottomScorePanel {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #e9e7e0;
	font-family: MyFont;
	font-size: 15px;
	font-weight: 100;
	margin-top: 10px;
}
@font-face {
	font-family: MyFont;
	src: url(PressStart2P-Regular.ttf);
}
.plus {
	position: absolute;
	text-decoration: none;
	color: #ffffff;
	font-family: MyFont;
	font-size: 18px;
	font-weight: 100;
	animation: moveUp 2s forwards;
}
@keyframes moveUp {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-200px);
		opacity: 0;
	}
}
.bodyAuthor {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 80% 20%;
	background-color: rgb(0, 0, 0);
}
.AuthorPanel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.TextAuthorPanel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 5px;
	text-decoration: none;
	color: #e9e7e0;
	font-family: MyFont;
	font-size: 15px;
	font-weight: 50;
	height: auto;
	width: auto;
	line-height: 30px;
}
.AuthorLink {
	text-decoration: none;
	color: rgb(107, 134, 134);
	font-family: MyFont;
}
@font-face {
	font-family: MyFont;
	src: url(PressStart2P-Regular.ttf);
}
.upgradeText {
	text-decoration: none;
	color: #e9e7e0;
	font-size: 15px;
	font-family: MyFont;
}
@font-face {
	font-family: MyFont;
	src: url(PressStart2P-Regular.ttf);
}
.textCard {
	text-decoration: none;
	color: #e9e7e0;
	font-size: 15px;
	font-family: MyFont;
}
@font-face {
	font-family: MyFont;
	src: url(PressStart2P-Regular.ttf);
}
.lvlText {
	text-decoration: none;
	color: #e9e7e0;
	font-size: 11px;
	font-family: MyFont;
}
@font-face {
	font-family: MyFont;
	src: url(PressStart2P-Regular.ttf);
}
.upgradeCards {
	padding: 20px;
}
.card {
	width: 28%;
	height: 120px;
	background-color: rgb(0, 0, 0);
}
.containerUpgradeCards {
	display: flex;
	justify-content: space-between;
}
.imageCard {
	width: 100%;
	height: 110px;
	margin-left: 1%;
	margin-top: 7%;
}
.card:nth-child(1) .imageCard {
	background-image: url(card1.jpg);
	background-size: cover;
}
